{% extends('@Api/Core/emailCore.html.twig') %}


{% block Content %}

    <p>
        Hello {{ name }}
    </p>
    <h4>Other to verify your account, click on the link bellow: </h4>
    <h4>Account verification link: </h4>
    <p> <a href="{{ baseUrl }}/auth/email-check/{{ codeGen }}">{{ baseUrl }}/auth/email-check/{{ codeGen }}</a></p>
    <br>

    <h4>zZeend Team</h4>
{% endblock %}
