{% extends('@Api/Core/emailCore.html.twig') %}


{% block Content %}

    <p>
        {% trans with {'%name%': name} into lang %} Hello %name% {% endtrans %}
    </p>
    <h4>{% trans into lang %} Other to recover your password, click on the link bellow {% endtrans %}:</h4>
    <h4>{% trans into lang %} Password recovery link {% endtrans %}: </h4>
    <p> <a href="{{ baseUrl }}/auth/password-recovery/{{ codeGen }}/{{ lang }}">{{ baseUrl }}/auth/password-recovery/{{ codeGen }}/{{ lang }}</a></p>
    <br>

    <h4>{% trans into lang %} zZeend Team {% endtrans %}</h4>
{% endblock %}
