{% extends('@Api/Core/emailCore.html.twig') %}


{% block Content %}

    <p>
        Hello {{ name }}
    </p>
    <h4>Other to recover your password, click on the link bellow: </h4>
    <h4>Password recovery link: </h4>
    <p> <a href="{{ baseUrl }}/auth/password-recovery/{{ codeGen }}">{{ baseUrl }}/auth/password-recovery/{{ codeGen }}</a></p>
    <br>

    <h4>zZeend Team</h4>
{% endblock %}
