{% extends('@Api/Core/emailCore.html.twig') %}


{% block Content %}

    <p>
        Hello {{ name }}
    </p>

    <p>
        {{ text }}
    </p>

    <div>

        <h1>{{ title }}</h1>
        <table style="border: 2px solid black;
            border-collapse: collapse;
            padding: 5px;
            border-spacing: 5px;
            margin: 10px;">
            <thead>
            <tr style="border: 2px solid black;
            border-collapse: collapse;
            padding: 5px;
            border-spacing: 5px;
            margin: 10px;">
                <th style="border: 2px solid black;
            border-collapse: collapse;
            padding: 5px;
            border-spacing: 5px;
            margin: 10px; background-color: rgba(199, 202, 243, 0.836);">Id</th>
                <td style="border: 2px solid black;
            border-collapse: collapse;
            padding: 5px;
            border-spacing: 5px;
            margin: 10px;">{{ id }}</td>
            </tr>
            </thead>
            <tbody>
            <tr style="border: 2px solid black;
            border-collapse: collapse;
            padding: 5px;
            border-spacing: 5px;
            margin: 10px;">
                <th style="border: 2px solid black;
            border-collapse: collapse;
            padding: 5px;
            border-spacing: 5px;
            margin: 10px; background-color: rgba(199, 202, 243, 0.836);">Cost</th>
                <td style="border: 2px solid black;
            border-collapse: collapse;
            padding: 5px;
            border-spacing: 5px;
            margin: 10px;">{{ cost }}</td>
            </tr>
            <tr style="border: 2px solid black;
            border-collapse: collapse;
            padding: 5px;
            border-spacing: 5px;
            margin: 10px;">
                <th style="border: 2px solid black;
            border-collapse: collapse;
            padding: 5px;
            border-spacing: 5px;
            margin: 10px; background-color: rgba(199, 202, 243, 0.836);">From</th>
                <td style="border: 2px solid black;
            border-collapse: collapse;
            padding: 5px;
            border-spacing: 5px;
            margin: 10px;">{{ from }}</td>
            </tr>
            <tr style="border: 2px solid black;
            border-collapse: collapse;
            padding: 5px;
            border-spacing: 5px;
            margin: 10px;">
                <th style="border: 2px solid black;
            border-collapse: collapse;
            padding: 5px;
            border-spacing: 5px;
            margin: 10px; background-color: rgba(199, 202, 243, 0.836);">To</th>
                <td style="border: 2px solid black;
            border-collapse: collapse;
            padding: 5px;
            border-spacing: 5px;
            margin: 10px;">{{ to }}</td>
            </tr>
            <tr style="border: 2px solid black;
            border-collapse: collapse;
            padding: 5px;
            border-spacing: 5px;
            margin: 10px;">
                <th style="border: 2px solid black;
            border-collapse: collapse;
            padding: 5px;
            border-spacing: 5px;
            margin: 10px; background-color: rgba(199, 202, 243, 0.836);">Payment date limit</th>
                <td style="border: 2px solid black;
            border-collapse: collapse;
            padding: 5px;
            border-spacing: 5px;
            margin: 10px;">{{ paymentLimitDate }}</td>
            </tr>
            <tr style="border: 2px solid black;
            border-collapse: collapse;
            padding: 5px;
            border-spacing: 5px;
            margin: 10px;">
                <th style="border: 2px solid black;
            border-collapse: collapse;
            padding: 5px;
            border-spacing: 5px;
            margin: 10px; background-color: rgba(199, 202, 243, 0.836);">Service owner</th>
                <td style="border: 2px solid black;
            border-collapse: collapse;
            padding: 5px;
            border-spacing: 5px;
            margin: 10px;">{{ serviceOwner }}</td>
            </tr>
            <tr style="border: 2px solid black;
            border-collapse: collapse;
            padding: 5px;
            border-spacing: 5px;
            margin: 10px;">
                <th style="border: 2px solid black;
            border-collapse: collapse;
            padding: 5px;
            border-spacing: 5px;
            margin: 10px; background-color: rgba(199, 202, 243, 0.836);">Status</th>
                <td style="border: 2px solid black;
            border-collapse: collapse;
            padding: 5px;
            border-spacing: 5px;
            margin: 10px;">{{ status }}</td>
            </tr>
            <tr style="border: 2px solid black;
            border-collapse: collapse;
            padding: 5px;
            border-spacing: 5px;
            margin: 10px;">
                <th style="border: 2px solid black;
            border-collapse: collapse;
            padding: 5px;
            border-spacing: 5px;
            margin: 10px; background-color: rgba(199, 202, 243, 0.836);">Paid</th>
                <td style="border: 2px solid black;
            border-collapse: collapse;
            padding: 5px;
            border-spacing: 5px;
            margin: 10px;">{{ payment }}</td>
            </tr>
            <tr style="border: 2px solid black;
            border-collapse: collapse;
            padding: 5px;
            border-spacing: 5px;
            margin: 10px;">
                <th style="border: 2px solid black;
            border-collapse: collapse;
            padding: 5px;
            border-spacing: 5px;
            margin: 10px; background-color: rgba(199, 202, 243, 0.836);">Finalized</th>
                <td style="border: 2px solid black;
            border-collapse: collapse;
            padding: 5px;
            border-spacing: 5px;
            margin: 10px;">{{ finalized }}</td>
            </tr>
            {% if canceled == 'Yes' %}
            <tr style="border: 2px solid black;
            border-collapse: collapse;
            padding: 5px;
            border-spacing: 5px;
            margin: 10px;">
                <th style="border: 2px solid black;
            border-collapse: collapse;
            padding: 5px;
            border-spacing: 5px;
            margin: 10px; background-color: rgba(199, 202, 243, 0.836);">Canceled</th>
                <td style="border: 2px solid black;
            border-collapse: collapse;
            padding: 5px;
            border-spacing: 5px;
            margin: 10px;">{{ canceled }}</td>
            </tr>
            {% endif %}
            <tr style="border: 2px solid black;
            border-collapse: collapse;
            padding: 5px;
            border-spacing: 5px;
            margin: 10px;">
                <th style="border: 2px solid black;
            border-collapse: collapse;
            padding: 5px;
            border-spacing: 5px;
            margin: 10px; background-color: rgba(199, 202, 243, 0.836);">Created at</th>
                <td style="border: 2px solid black;
            border-collapse: collapse;
            padding: 5px;
            border-spacing: 5px;
            margin: 10px;">{{ createdAt }}</td>
            </tr>
            </tbody>
        </table>

    </div>

    <br>

    <h4>zZeend Team</h4>
{% endblock %}
