{% extends('@Api/Core/emailCore.html.twig') %}


{% block Content %}

    <p>
        {% trans with {'%name%': name} into lang %} Hello %name% {% endtrans %}
    </p>

    <p>
        {{ text }}
    </p>

    <div>

        <div style="text-align: center; border: 1px solid #ddd;
  padding: 5px; font-weight: bold;">
            <span>{{ title }}</span>
        </div>

        <table id="customers" style="font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;">
            <thead>
            <tr style="text-align: center;
  height: 80px;">
                <th style="border: 1px solid #ddd;
  padding: 8px; text-align: center;">{% trans into lang %} Id {% endtrans %}</th>
                <td style="border: 1px solid #ddd;
  padding: 8px;">{{ id }}</td>
            </tr>
            </thead>
            <tbody>
            <tr style="text-align: center;
  height: 80px;">
                <th style="border: 1px solid #ddd;
  padding: 8px; text-align: center;">{% trans into lang %} Cost {% endtrans %}</th>
                <td style="border: 1px solid #ddd;
  padding: 8px;">{{ cost }}</td>
            </tr>
            <tr style="text-align: center;
  height: 80px;">
                <th style="border: 1px solid #ddd;
  padding: 8px; text-align: center;">{% trans into lang %} From {% endtrans %}</th>
                <td style="border: 1px solid #ddd;
  padding: 8px;">{{ from }}</td>
            </tr>
            <tr style="text-align: center;
  height: 80px;">
                <th style="border: 1px solid #ddd;
  padding: 8px; text-align: center;">{% trans into lang %} To {% endtrans %}</th>
                <td style="border: 1px solid #ddd;
  padding: 8px;">{{ to }}</td>
            </tr>
            <tr style="text-align: center;
  height: 80px;">
                <th style="border: 1px solid #ddd;
  padding: 8px; text-align: center;">{% trans into lang %} Payment deadline {% endtrans %}</th>
                <td style="border: 1px solid #ddd;
  padding: 8px;">{{ paymentLimitDate }}</td>
            </tr>
            <tr style="text-align: center;
  height: 80px;">
                <th style="border: 1px solid #ddd;
  padding: 8px; text-align: center;">{% trans into lang %} Service owner {% endtrans %}</th>
                <td style="border: 1px solid #ddd;
  padding: 8px;">{{ serviceOwner }}</td>
            </tr>
            <tr style="text-align: center;
  height: 80px;">
                <th style="border: 1px solid #ddd;
  padding: 8px; text-align: center;">{% trans into lang %} Status {% endtrans %}</th>
                <td style="border: 1px solid #ddd;
  padding: 8px;">{{ status }}</td>
            </tr>
            <tr style="text-align: center;
  height: 80px;">
                <th style="border: 1px solid #ddd;
  padding: 8px; text-align: center;">{% trans into lang %} Paid {% endtrans %}</th>
                <td style="border: 1px solid #ddd;
  padding: 8px;">{{ payment }}</td>
            </tr>
            <tr style="text-align: center;
  height: 80px;">
                <th style="border: 1px solid #ddd;
  padding: 8px; text-align: center;">{% trans into lang %} Finalized {% endtrans %}</th>
                <td style="border: 1px solid #ddd;
  padding: 8px;">{{ finalized }}</td>
            </tr>
            {% if canceled == 'Yes' %}
                <tr style="text-align: center;
  height: 80px;">
                    <th style="border: 1px solid #ddd;
  padding: 8px; text-align: center;">{% trans into lang %} Canceled {% endtrans %}</th>
                    <td style="border: 1px solid #ddd;
  padding: 8px;">{{ canceled }}</td>
                </tr>
            {% endif %}
            <tr style="text-align: center;
  height: 80px;">
                <th style="border: 1px solid #ddd;
  padding: 8px; text-align: center;">{% trans into lang %} Created at {% endtrans %}</th>
                <td style="border: 1px solid #ddd;
  padding: 8px;">{{ createdAt }}</td>
            </tr>
            </tbody>
        </table>

    </div>

    <br>

    <h4>{% trans into lang %} zZeend Team {% endtrans %}</h4>
{% endblock %}
